@import "_mixin.scss";

.box {
    @include box();
}

.base {
    @extend .box;
    background-color: red;
}

.important {
    @extend .box;
    background-color: maroon;
}

.warning {
    @extend .box;
    background-color: pink;
}

.shadowBox {
    @extend .box;
    @include shadowBox();
    box-shadow: -10px 15px 8px 1px black;
}

.principalFont {
    margin-left: 2.5em;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.secondaryFont {
    margin-left: 2.5em;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}