@import "_mixin.scss";

.box {
    @include box();
}

.base {
    @extend .box;
    background-color: blue;
}

.important {
    @extend .box;
    background-color: darkblue;
}

.warning {
    @extend .box;
    background-color: cyan;
}

.shadowBox {
    @extend .box;
    @include shadowBox(0.3em);
    box-shadow:10px 15px 8px 1px black;
}

.principalFont {
    margin-left: 2em;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.secondaryFont {
    margin-left: 2em;
    font-size: 20px;
    font-family: Arial, sans-serif;
}