@import "_mixin.scss";

.box {
    height: 3em;
    width: 5em;
    border: 0.08em solid;
    border-color: grey;
    font-weight: bold;
    font-size: 25px;
    padding-left: 2%;
    padding-top: 2%;
    margin-left: 2em;
    @include rounded-corner(0.3em);
}

.base {
    @extend .box;
    background-color: blue;
}

.important {
    @extend .box;
    background-color: darkblue;
}

.warning {
    @extend .box;
    background-color: cyan;
}

.shadowBox {
    @extend .box;
    box-shadow:10px 15px 8px 1px black;
}

.principalFont {
    margin-left: 1.5em;
}

.secondaryFont {
    margin-left: 1.5em;
}