body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: pink;
    font-size: 1.5rem;
}

nav {
    margin: 0px auto;
    display: flex;
    align-items: center;
    position: fixed;
    top: 10;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    list-style: none;
    list-style-type: none;
    margin: 0;
    -webkit-padding-start: 0;
}

ul li a {
    color: black;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
}

.menu li {
    width: 100%;
    border: 2px grey solid;
    text-align: center;
    font-size: 0.6rem;
}

@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        position: fixed;
        bottom: 0;
    }
    .lemoncode {
        visibility: hidden;
    }
}
