$colors: red, green, blue;

@mixin colorPalette() {

    $colorNum: 1;
    @each $color in $colors {
        .color-#{$colorNum}-base {
            background-color: $color;
        }
        @for $colorNumber from 0 to 5 {
            .color-#{$colorNum}-ligthen-#{$colorNumber} {
                background-color: lighten($color: $color, $amount: 10% * $colorNumber)
            }
        }
        @for $colorNumber from 0 to 5 {
            .color-#{$colorNum}-darken-#{$colorNumber} {
                background-color: darken($color: $color, $amount: 10% * $colorNumber)  
            }
        }
        $colorNum: $colorNum+1;
    }
}
