@import "mixins.scss";

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

[class^='color-'] {
    height: 10em;
    width: 5em;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@include colorPalette();
